
.my-properties-container {
  padding: 2rem;
  max-width: 900px;
  margin: 0 auto;
}

.property-card {
  margin-bottom: 1rem;
}

.card-content {
  display: flex;
  align-items: center;
}

.property-image {
  width: 150px;
  height: 100px;
  object-fit: cover;
  border-radius: 4px;
  margin-right: 1.5rem;
}

.property-details {
  flex-grow: 1;
}

.property-status {
  margin-left: 1rem;
}

mat-paginator {
  margin-top: 2rem;
}
