
.form-container {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}

mat-card {
  width: 600px;
}

mat-form-field {
  width: 100%;
  margin-bottom: 1rem;
}

button {
  width: 100%;
  margin-top: 1rem;
}

.file-name {
  margin-left: 1rem;
}

.image-preview {
  margin-top: 1rem;
  text-align: center;
}

.image-preview img {
  max-width: 100%;
  max-height: 200px;
  border-radius: 4px;
}
