body { font-family: Roboto, "Helvetica Neue", sans-serif; }

.success-snackbar {
  background-color: #4CAF50;
  color: white;
}

.error-snackbar {
  background-color: #f44336;
  color: white;
}

.mat-mdc-snack-bar-container .mdc-snackbar__label {
  color: white;
}